html, body, table {
    height: 99%;
    width: 99%;
    background-color: #121212;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}


body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

table {
    vertical-align: middle;
    text-align: center;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    font-weight: bold;
}

.fa-xx {
    font-size: 1.3em;
}

#logo {
    background-image: url('../img/logo/demon_invert_nobg.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

#members {
    position: fixed;
    width:100%;
    height:200px;
    bottom: 0px;
}
.member {
    background-image: url('../img/walking-person.gif');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    filter: invert(1) blur(1.5px);
    left: -100px;
    bottom: 10px;
    opacity: 1;
    z-index: 1;
}

.member:hover {
    filter: invert(1) blur(0);
    cursor: crosshair;
}

.member > p {
    margin-top: -30px;
    font-family: 'Audiowide', cursive; 
    font-size: 8pt;
}

.menu {
    padding: 5px 5px;
    margin: 0 10px;
    font-family: 'Audiowide', cursive; 
    font-size: 14px;
    color: #bdbdbd;
}
.menu:hover { color: #fff; }

.soul {
    background-image: url('../img/soul.gif');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    width: 46px; /* 23 : 28 */
    height: 56px;
    opacity: 0;
}

.treasure-box.closed {
    background-image: url('../img/treasure_box.gif');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    width: 63px; /* 9 : 6 */
    height: 42px;
    bottom: 10px;
    opacity: 1;
    z-index: 2;
}

.treasure-box.opened {
    background-image: url('../img/treasure_box_open.gif');
    filter: brightness(2);
}

.treasure-box:hover {
    cursor: pointer;
}

.rollpaper {
    background-image: url('../img/brown-scroll.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    width: 200px;
    height: 230px;
    bottom: 80px;
    opacity: 0;
    z-index: 3;
}

.rollpaper > div {
    
    width: 130px;
    margin: 50px 0 0 45px;
}

.rollpaper > div > p.nick { font-size: 14pt; margin: 2px 10px; font-family: 'Audiowide', cursive; }
.rollpaper > div > p.name { font-size: 10pt; margin: 5px 5px; font-family: 'Permanent Marker', cursive;}
.rollpaper > div > p.role { font-size: 9pt; margin-top: 7px; font-family: 'Permanent Marker', cursive;}
